<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<main role="main" class="container">
    <div class="mainView">
      <div id="topMenu">
      <a href='/'>Home</a> | 

        <%if (reqInfo.authenticated) { %>
          <a href='/User/Profile'>Profile</a> |

       
          <a href='/User/MyReviews'>My Reviews</a> |

        <!-- Show 'Logout' and user name if authenticated. -->
        
          <a href='/User/Logout'>Logout</a> [<%= reqInfo.username %>]

        <!-- 'else' must be in separate section with curly brackets to work. -->
        <% } else { %>
          <a href='/User/Register'>Register</a> |
          
          <a href='/User/Login'>Login</a>
        <% } %>
        
      </div>

        <!-- Child view goes here. -->
        <%- body %>
    </div>
</main>

</body>
</html>
